/* ----------------- */
/* Custom properties */
/* ----------------- */

/* colors */
/* font-sizes */
/* font-families */

/* ----------------- */
/* Reset             */
/* ----------------- */

/* box sizing rule */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset default margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

/* set font */
h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

/* set body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make forms elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------- */
/* Utility classes   */
/* ----------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}
